<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=256588
  -->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=256588 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<connectionStrings>
		<!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=UNMESH;Initial Catalog=CGHSBilling;Integrated Security=True" />-->
		<!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=UNMESH;Initial Catalog=CGHSMUMBAILIVE;Integrated Security=True" />-->
		<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=198.38.81.57;uid=sa;Password=Ja!sa!nath@12;Initial Catalog=CGMSMUMBAI" />
		<add name="CghsDelhi" providerName="System.Data.SqlClient" connectionString="Data Source=198.38.81.57;uid=sa;Password=Ja!sa!nath@12;Initial Catalog=CGMSIndia" />
		<add name="HopeConnection" providerName="System.Data.SqlClient" connectionString="Data Source=198.38.81.57;uid=sa;Password=Ja!sa!nath@12;Initial Catalog=HOPEPARIVAR" />

	</connectionStrings>
	<appSettings>
		<add key="defaultConnection" value="DefaultConnection" />
		<add key="cghsdelhi" value="CghsDelhi" />
		<add key="hopeconnection" value="HopeConnection" />
		<add key="webpages:Version" value="2.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="PreserveLoginUrl" value="true" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="ScandocUrl" value="http://localhost:2612/Content/UploadFile/" />

		<add key="mailToAddress" value="info@eminentmultiservices.com" />
		<add key="mobile" value="9892705571" />
		<add key="mailCCAddress" value="ashish_sgh@yahoo.com" />
		<add key="mailBCCAddress" value="ashish3668@gmail.com" />
		<add key="mailUserID" value="QASERIES19@gmail.com" />
		<add key="mailPassword" value="Zd60dTdubzVaivBwMKUHrEhR51VC7pE5AA==" />
		<add key="smtpHost" value="smtp.gmail.com" />
		<add key="smtpPortNo" value="587" />
		<add key="sslSecurityStatus" value="true" />
		<add key="AdmissionStartTIme" value="06:00:00" />
		<add key="AdmissionEndTIme" value="11:59:59" />
		<add key="aspnet:MaxJsonDeserializerMembers" value="150000" />

		<add key="PharmacySection" value="All Pharmacy Charges" />
		<add key="DefaultSection" value="Consultation Services" />
		<add key="ManualSection" value="Non cghs / Aiims Service charges" />
		<add key="SurgeryManualSection" value="Non CGHS / AIIMS Surgery charges" />
		<add key="BedSection" value="Bed Charges" />
		<add key="SurgerySection" value="Surgery Charges" />
		<add key="LinkingSection" value="Oշ ICU/NICU Service Charges" />
		<add key="SurgeryManualSection" value="Manually added Surgeries Charges" />

		<add key="SurgerySection" value="Surgery Charges" />
		<add key="CancerSurgerySection" value="Cancer Surgery Charges" />
		<add key="DiscountPercSurgerySecondOnward" value="50" />
		<add key="SurgeryAlertMessage" value="Admission and Surgery dates provided are not matching. Do you wan to go for Medical + Surgery type instead?" />

		<add key="EnquiryTitle" value="Test-Enquiry on Jambo Medical services" />
		<add key="SupportFilePath" value="~/Content/requestSubmissionrpt-1.pdf" />
		<add key="DownloadFileAsName" value="CGMS-HelpDocument.pdf" />
	</appSettings>

	<system.web>

		<compilation debug="true" targetFramework="4.5">
			<assemblies>
				<add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
				<add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
				<add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />

			</assemblies>
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
			</buildProviders>
		</compilation>
		<httpRuntime targetFramework="4.5" />
		<authentication mode="Forms">
			<forms loginUrl="~/Account/RedirectToLogin" timeout="20" />
		</authentication>
		<sessionState mode="InProc" timeout="20"></sessionState>
		<pages>
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Optimization" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
			</namespaces>
		</pages>
		<httpHandlers>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
		</httpHandlers>
	</system.web>
	<system.webServer>
		<staticContent>
			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
			<remove fileExtension=".woff2" />
			<mimeMap fileExtension=".woff2" mimeType="font/x-woff" />
		</staticContent>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
			<add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
			<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
	</entityFramework>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="50000000" />
			</webServices>
		</scripting>
	</system.web.extensions>

</configuration>