@model CGHSBilling.Models.ResetPasswordModel
@using (Html.BeginForm())
{
    <fieldset>
        <legend></legend>
        <br />
        <div class="container fill">
            <div class="panel-groupingBoder">
                <div class="panel-heading">
                    <div class="panel-title">
                        <a class="collapsediv" data-toggle="collapse" href="#collapse2" style="color:white">
                            Welcome!Reset Your Password Here.
                        </a>
                    </div>
                </div>
                <br />

                <br />
                <div class="panel-body">
                    <br />
                    <div class="row">
                        <div class="col-sm-1">
                            <span style="font-weight:bold"> New Password</span>
                        </div>
                        <div class="col-sm-2">
                            @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control ", placeholder = "Enter Your New Password" })
                        </div>
                    </div>


                    <br />
                    <div class="row">
                        <div class="col-sm-1">
                            <span style="font-weight:bold">Confirm Password</span>
                        </div>
                        <div class="col-sm-2">
                            @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control ", placeholder = "Confirm Your Password" })
                        </div>
                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group form-horizontal">
                                <br />
                                <div class="col-sm-2">
                                    <button type="button" class="btn btn-success" id="btnSave">Save</button>
                                    <button type="button" class="btn btn-success" id="btnReset">Reset</button>
                                    <br />
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </fieldset>
    <script type="text/javascript">
    $("#btnReset").click(function() {
        ClearForm();
    });

    function ClearForm() {
        $("#NewPassword").val(""),
     $("#ConfirmPassword").val("")
                }
    debugger;
    $("#btnSave").click(function () {
        var details = JSON.stringify({
        NewPassword: $("#NewPassword").val(),
        ConfirmPassword: $("#ConfirmPassword").val(),
        });
        debugger;
        if ($("#NewPassword").val() != $("#ConfirmPassword").val()) {
            ShowAlert('warning', 'NewPassword And ConfirmPassword Must Be Same!')
        }

        else {
        $.ajax(
        {
            type: "POST", //HTTP POST Method
            traditional: true,
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            url: '/Account/SaveResetPassword', // Controller/action
            data: details,
            success: function (msg) {
                debugger;
                    if (msg.success)
                    {
                        ClearForm();
                        window.location.href = 'Account/Login';
                    }
                    else
                    {
                        ShowAlert("warning", msg.message);
                    }
                },
            error: function(jqXhr, exception) {

                    ShowAlert("warning", "Something went wrong! please Contact to Administrator");
                }
            });
        }
       
    });
    </script>
}



